@page
@model Maui.Web.Pages.SignOutModel
@{
    Layout = null;
}

<! DOCTYPE html>
<html>
<head>
    <title>Signing out... </title>
    <meta http-equiv="refresh" content="0;url=/signin" />
</head>
<body>
    <p>Signing you out...</p>
</body>
</html>